@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-header-background: var(--header-background);
  --color-header-accent: var(--header-accent);
  --color-footer-background: var(--footer-background);
  --color-footer-accent: var(--footer-accent);
  --color-background-gradation-1: var(--background-gradation-1);
  --color-background-gradation-2: var(--background-gradation-2);
}

:root {
  --radius: 0.625rem;
  --background: var(--blue-1);
  --foreground: var(--blue-12);
  --card: var(--blue-2);
  --card-foreground: var(--blue-12);
  --popover: var(--blue-1);
  --popover-foreground: var(--blue-12);
  --primary: var(--blue-11);
  --primary-foreground: var(--blue-1);
  --secondary: var(--blue-3);
  --secondary-foreground: var(--blue-12);
  --muted: var(--blue-2);
  --muted-foreground: var(--blue-11);
  --accent: var(--blue-7);
  --accent-foreground: #ffffff;
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--blue-4);
  --input: var(--blue-5);
  --ring: var(--blue-9);
  --chart-1: oklch(0.65 0.19 185.5);
  --chart-2: oklch(0.63 0.14 100.8);
  --chart-3: oklch(0.54 0.1 40.5);
  --chart-4: oklch(0.76 0.17 140.9);
  --chart-5: oklch(0.71 0.08 75.2);
  --sidebar: var(--blue-2);
  --sidebar-foreground: var(--blue-12);
  --sidebar-primary: var(--blue-8);
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: var(--blue-3);
  --sidebar-accent-foreground: var(--blue-12);
  --sidebar-border: var(--blue-4);
  --sidebar-ring: var(--blue-8);

  --header-background: var(--blue-8);
  --header-accent: var(--blue-a7);
  --footer-background: var(--blue-8);
  --footer-accent: var(--blue-a7);
  --background-gradation-1: var(--blue-2);
  --background-gradation-2: var(--blue-3);
}

.dark {
  --background: var(--blue-1);
  --foreground: var(--blue-12);
  --card: var(--blue-2);
  --card-foreground: var(--blue-11);
  --popover: var(--blue-1);
  --popover-foreground: var(--blue-12);
  --primary: var(--blue-11);
  --primary-foreground: var(--blue-1);
  --secondary: var(--blue-3);
  --secondary-foreground: var(--blue-12);
  --muted: var(--blue-3);
  --muted-foreground: var(--blue-11);
  --accent: var(--blue-8);
  --accent-foreground: var(--blue-12);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--blue-4);
  --input: var(--blue-4);
  --ring: var(--blue-10);
  --chart-1: oklch(0.6 0.21 184.2);
  --chart-2: oklch(0.67 0.15 103.6);
  --chart-3: oklch(0.58 0.11 47.2);
  --chart-4: oklch(0.69 0.13 137.4);
  --chart-5: oklch(0.63 0.09 77.9);
  --sidebar: var(--blue-2);
  --sidebar-foreground: var(--blue-12);
  --sidebar-primary: var(--blue-9);
  --sidebar-primary-foreground: var(--blue-1);
  --sidebar-accent: var(--blue-3);
  --sidebar-accent-foreground: var(--blue-12);
  --sidebar-border: var(--blue-a3);
  --sidebar-ring: var(--blue-8);

  --header-background: var(--blue-4);
  --header-accent: var(--blue-a7);
  --footer-background: var(--blue-4);
  --footer-accent: var(--blue-a7);
  --background-gradation-1: var(--blue-2);
  --background-gradation-2: var(--blue-3);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root,
.light,
.light-theme {
  --blue-1: #f2fbfc;
  --blue-2: #dff6f8;
  --blue-3: #c4eef1;
  --blue-4: #9fe2e6;
  --blue-5: #7ad3d8;
  --blue-6: #55c2c9;
  --blue-7: #32b0b9;
  --blue-8: #009da6;
  --blue-9: #008c94;
  --blue-10: #007a82;
  --blue-11: #005f66;
  --blue-12: #003d40;

  --blue-a1: #00a3b404;
  --blue-a2: #00a9b914;
  --blue-a3: #00a5b82b;
  --blue-a4: #00a3b847;
  --blue-a5: #00a9bc64;
  --blue-a6: #00a5b780;
  --blue-a7: #009fb49f;
  --blue-a8: #0098abae;
  --blue-a9: #00889ed0;
  --blue-a10: #007c90d8;
  --blue-a11: #006073ea;
  --blue-a12: #003c40f0;

  --blue-contrast: #ffffff;
  --blue-surface: #e2f3f5cc;
  --blue-indicator: #009da6;
  --blue-track: #009da6;
}

.dark,
.dark-theme {
  --blue-1: #051d21;
  --blue-2: #07262a;
  --blue-3: #0c3339;
  --blue-4: #113f46;
  --blue-5: #154a51;
  --blue-6: #19565d;
  --blue-7: #1f646c;
  --blue-8: #267681;
  --blue-9: #2f8c97;
  --blue-10: #3498a3;
  --blue-11: #62d5dd;
  --blue-12: #b8f4f6;

  --blue-a1: #17d6f310;
  --blue-a2: #29e6ff1d;
  --blue-a3: #43efff34;
  --blue-a4: #52f7ff4a;
  --blue-a5: #5af9ff5c;
  --blue-a6: #60f6ff6d;
  --blue-a7: #65f4ff80;
  --blue-a8: #68f6ff98;
  --blue-a9: #34ecffd0;
  --blue-a10: #43f0ffd9;
  --blue-a11: #7bf6fffa;
  --blue-a12: #c5fbfffe;

  --blue-contrast: #051d21;
  --blue-surface: #0b2a3080;
  --blue-indicator: #2f8c97;
  --blue-track: #2f8c97;
}

:root,
.light,
.light-theme {
  --gray-1: #fcfcfd;
  --gray-2: #f9f9fb;
  --gray-3: #eff0f3;
  --gray-4: #e7e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d8d9e0;
  --gray-7: #cdced7;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-10: #80828d;
  --gray-11: #62636c;
  --gray-12: #1e1f24;

  --gray-a1: #00005503;
  --gray-a2: #00005506;
  --gray-a3: #00104010;
  --gray-a4: #000b3618;
  --gray-a5: #0009321f;
  --gray-a6: #00073527;
  --gray-a7: #00063332;
  --gray-a8: #00083046;
  --gray-a9: #00051d74;
  --gray-a10: #00051b7f;
  --gray-a11: #0002119d;
  --gray-a12: #000107e1;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8b8d98;
  --gray-track: #8b8d98;
}

.dark,
.dark-theme {
  --gray-1: #111113;
  --gray-2: #19191b;
  --gray-3: #222325;
  --gray-4: #292a2e;
  --gray-5: #303136;
  --gray-6: #393a40;
  --gray-7: #46484f;
  --gray-8: #5f606a;
  --gray-9: #6c6e79;
  --gray-10: #797b86;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;

  --gray-a1: #1111bb03;
  --gray-a2: #cbcbf90b;
  --gray-a3: #d6e2f916;
  --gray-a4: #d1d9f920;
  --gray-a5: #d7ddfd28;
  --gray-a6: #d9defc33;
  --gray-a7: #dae2fd43;
  --gray-a8: #e0e3fd60;
  --gray-a9: #e0e4fd70;
  --gray-a10: #e3e7fd7e;
  --gray-a11: #eff0feb9;
  --gray-a12: #fdfdffef;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6c6e79;
  --gray-track: #6c6e79;
}
